.App {
    background: linear-gradient(90deg, #aa25f8, #00f3ff);
    padding-bottom: 40px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.premier, .league {
    font-size: 50px;
    font-weight: bolder;
    color: #360d3a;
}

.logo {
    padding: 10px;
}

.table {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 5px;
    max-width: 700px;
    margin: 0 auto;
    background-color: white;
}

.x {
    display: flex;
    justify-content: flex-end;
    border: 1px solid black;
    padding: 5px;
    max-width: 700px;
    margin: 0 auto;
    background-color: white;
}

.table-info, .table-points {
    display: flex;
    align-items: center;    
}

.position, 
.points, 
.games, 
.win,
.draw,  
.lose,
.w {
    font-size: 20px;
    width: 40px;
    display: flex;
    justify-content: center;
}

.team-name {
    font-size: 20px;
    display: flex;
    align-items: center;
    margin: 0 0 3px 10px;
}

.team-icon {
    margin-left: 10px;
}